click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
Flask @ file:///C:/b/abs_efc024w7fv/croot/flask_1702980041157/work
Flask-SQLAlchemy @ file:///C:/ci_311/flask-sqlalchemy_1676449960347/work
greenlet @ file:///C:/b/abs_a6c75ie0bc/croot/greenlet_1702060012174/work
gunicorn==21.2.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///C:/ci_311/jinja2_1676424968965/work
MarkupSafe @ file:///C:/ci_311/markupsafe_1676424152318/work
packaging==23.2
SQLAlchemy @ file:///C:/b/abs_d3tao6jnck/croot/sqlalchemy_1695720955292/work
typing_extensions @ file:///C:/b/abs_213vg2cd1l/croot/typing_extensions_1690297804941/work
Werkzeug @ file:///C:/b/abs_8578rs2ra_/croot/werkzeug_1679489759009/work
